/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:0 auto 0 auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	
}
.container{
	background-color: #FFFEF8;
	max-width: 1440px;
	min-height: 1024px;
	margin:0 auto 0 auto;
}
header {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.div-header{
	display: flex;
	justify-content: space-between;
}

section {
	margin: 100px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.headband-edition{
	display: flex;
	background-color: #000000;
	color: #FFFFFF;
	justify-content: center;
	align-items: center;
	margin:auto;
	width:100%;
	height: 59px;
	gap: 10px;
	margin-bottom: 30px;
}

main{
	width: 1000px;
	margin: 0 auto 0 auto;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin-right: auto;
	width: 80%;
}

#introduction article {
	width: 404px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio{
	padding-top: 50px;
}
.title-portfolio {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio-header{
	display: flex;
	justify-content: center;
	gap: 20px;
}

.modify{
	display: flex;
	gap: 8px;
	height: 30px;
	align-items: center;
	color: #000000;
	margin-bottom: 1em;
}

.modify-text{
	font-family: 'Work sans';
	font-size: 14px;
	font-weight: 500;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	object-fit: cover;
	width: 305px;
	height: 407px;
}

.figure-gallery figcaption{
	font-family: 'Work sans';
	font-size: 13px;
	font-weight: 400;
}
.filter{
	display: flex;
	justify-content: center;
}

.filter-item{
	border: 1px solid #1D6154;
	border-radius: 20px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color:#1D6154;
	padding: 10px 20px;
	margin: 30px 10px;
}

.filter-item:hover{
	cursor: pointer;
}

.filter-item.active {
	cursor: pointer;
	background-color: #1D6154;
	color: white;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login{
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#login h2{
	margin: 50px;
	text-align: center;
}

#login form {
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
	width: 75%;
}

#login a{
	color: #3D3D3D;
	text-align: center;
	font-family: 'Work sans';
	font-weight: 500;
	font-size: 14px;
}

#login label{
	font-family: 'Work sans';
	font-size: 14px;
	font-weight: 500;
}
.email, .password {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom:30px;
	margin-top: 10px;
}

input[type="submit"]{
	font-family: 'Work sans';
	font-weight: 500;
	font-size: 14px;
	height: 36px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#error-message{
	text-align: center;
	color : rgba(250, 5, 16);
	margin-bottom: 20px;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.error{
	background-color: rgba(250, 5, 16, 0.1);
	border-color: 1px solid rgba(250, 5, 16);
}

footer {
	background-color: #ffffff;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.modal{
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.7);
	
}

.modal-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	width: 630px;
	border-radius: 15px;
	padding: 20px 15px;
}

.button-modal{
	display: flex;
	width: 90%;
	justify-content: end;
}

.arrow-previous{
	display: none;
	cursor: pointer;
	font-size: 24px;
}

.modal-close{
	display: flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	background-color: #ffffff;
	border: none;
	color:#000000;
	box-sizing: inherit;
	padding-block: 0;
	padding-inline: 0;
	cursor: pointer;
	font-size: 24px;
}

.modal-add{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 237px;
	height: 36px;
	margin:40px 0;
	padding:0;
	border-radius: 60px;
	appearance: none;
	color:#ffffff;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
}

.button-active{
	border: 1px solid #1D6154;
	background-color: #1D6154;
	cursor: pointer;
}

.button-inactive{
	background-color: #A7A7A7;
    border: none;
    cursor: default;
}

#title-modal{
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
	color : #000000;
	margin-bottom: 50px;
	margin-top: 20px;
}
.gallery-modal {
	width: 425px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	padding-bottom: 90px;
	border-bottom: 1px solid #B3B3B3;
}

.figure-gallery-modal{
	width:100%;
}

.figure-gallery-modal img {
	width: 76.6px;
	height: 102.5px;
	object-fit: cover;
}

.button-trash{
	display: flex;
	position: relative;
	top:-103px;
	left:58px;
	width:17px;
	height: 17px;
	background-color: #000000;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	font-size: 11px;
	border: inherit;
	cursor: pointer;
}

.button-trash i{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#add-gallery{
	display: none;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: 347.5px;
	padding-bottom: 90px;
	border-bottom: 1px solid #B3B3B3;
}

.add-image{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 30px;
}

.add-image-picture{
	font-size: 76px;
	color: #CBD6DC;
	margin: 30px 0 10px 0;
}

.button-add-image{
	width: 50%;
	height: 36px;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
	font-family: "Work sans";
	font-weight: 500;
	font-size: 14px;
	color:#306685;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.comment-add-image{
	font-family: "Work sans";
	font-weight: 400;
	font-size: 10px;
	color: #444444;
	margin-bottom: 10px;
}

.preview-image{
	display: none;
}
.error-image{
	color:rgba(250, 5, 16, 1);
}

.title-picture{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title{
	display: flex;
	font-family: "Work sans";
	font-weight: 500;
	font-size: 14px;
	color:#3D3D3D;
}

#add-title{
	display: flex;
	width: 100%;
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin: 10px 0 20px 0;
	font-family: "Work sans";
	font-weight: 500;
	font-size: 14px;
}

.category-picture{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.category{
	display: flex;
	font-family: "Work sans";
	font-weight: 500;
	font-size: 14px;
	color:#3D3D3D;
}

#category{
	display: flex;
	width: 100%;
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin: 10px 0 20px 0;
	font-family: "Work sans";
	font-weight: 500;
	font-size: 14px;
}

.error-sending{
	display:none;
	color: rgba(250, 5, 16, 1);
}

